body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

#current-account{
  position: relative;
  color: #fff;
  left: 500px;
}

#operational-status{
  position: relative;
  color: #fff;
  left: 350px;
}


.whole-body{
  display: flex;
  flex-flow: row wrap;
}

.whole {
  display: flex;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding: 5px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    text-align: center;
  }

.container {
    background-color: #000;
    opacity: 0.9;
    color: #fff;
}

.container-1{
  margin-top: 60px;
}

.container-2{
  margin-top: 60px;
}

.container-3{
  margin-top: 50px;
}

.container-4{
  margin-top: 50px;
}

.top-20 {
    margin-top: 60px;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}
input {
    margin-right: 30px;
}


.row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
  }

  .td-insurance {
    display: flex;
  }
  
  .td-insurance input {
    margin-right: 0px;
    margin-left: 10px;
    width: 50px;
  }

  .td-insurance button {
    margin-left: 10px;
  }